.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.list {
  padding: 30px;
}

.logo, .cart {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  padding: 150px;
}

.sidebar {
  width: 220px;
}

.productContainer {
  flex: 1;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: 5px solid #003C71;
  padding: 10px;
  margin: 0 10px;
  background: none;
}

.subject {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

@media (min-width: 701px) and (max-width: 1120px){

}


@media (max-width: 700px) {

}